<ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-slides pager="true">

      <ion-slide class="swiper-slide hydrated" >
      <div>
        <img src="assets/images/slide-1.png" alt="">
      </div>
      <div class="ion-title">
      <h2>Meu App Fantastico</h2>
          <p>
            <b>Este App Terá funções incriveis</b>
               
           Ficou Curioso? <strong>Veja Mais</strong>
          </p>
        </div>
    </ion-slide>

    <ion-slide class="swiper-slide hydrated swiper-slide-active" style="width: 288px;">
      <img src="assets/images/slide-2.png" alt="">

      <h2>What is Ionic Pro?</h2>
      <p>
        <b>Ionic Pro</b>
           
       " is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams."
      </p>
      </ion-slide>

    <ion-slide class="Slide_img">
      <img src="assets/images/slide-3.png" alt="">
      <h1>Slide 3</h1>

      <a (click)="gotoTabspage()">Continuar</a>
    </ion-slide>
  </ion-slides>

</ion-content>